{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "rules": {
        "default-case":1,
        "no-dupe-args":1,
        "eqeqeq":1,
        "no-eval":1,
        "no-new-wrappers":1,
        "comma-dangle":1
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"]
    
}