*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
html{
    font-family: "sans-serif";
    font-size: 14px;
    background-color: #ffffff;
    font-family: sans-serif;
    -webkit-overflow-scrolling: touch;
}
